[user]
	name = Oliver Taylor
	email = olivertaylor@me.com
[core]
	excludesfile = /Users/oliver/.gitignore_global
	editor = bbedit
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' --abbrev-commit --date=relative
	unstage = reset HEAD --
	stash-unapply = !git stash show -p | git apply -R
[apply]
	whitespace = nowarn



[color]
	ui = true
[color "branch"]
	current = red bold
	local = yellow
	remote = green
[color "diff"]
	meta = white
	frag = cyan
	old = red
	new = green
	commit = yellow
[color "status"]
	header = blue
	added = yellow
	changed = green
	untracked = magenta
