.DS_Store
keyboard_maestro_macros.kmsync
zsh/localrc.zsh
vim/localvimrc
vim/bundle/
vim/plugged/
vim/init.vim
vim/autoload/
vim/.netrwhist
plug.vim
emacs/auto-save-list
emacs/bookmarks
emacs/elpa
emacs/saves
emacs/url
